* {
    margin: 0;
    padding: 0;
}

#app {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #eee;
}

header {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 20px 0;
    background: #300377cc;
}

header h1 {
    padding: 30px 0;
    font-size: 40px;
    color: #FFF;
}

section {
    margin: 25px 0;
    width: 100%;
    display: block;
    min-height: 120px;
    border: 1px solid #ccc;
}

.you {
    display: inline-block;
    width: 49%;
}

.monster {
    display: inline-block;
    width: 49%;
}


span {
    display: block;
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
    font-weight: bold;
}

#process-area {
    width: 96%;
    height: 50px;
    background: #ccc;
    display: block;
    margin: 15px 10px;
}

#you-process {
    width: 80%;
    height: 100%;
    background: green;
    transition: width 1.5s;
}

#monster-process {
    width: 50%;
    height: 100%;
    background: green;
    transition: width 0.5s;
}


#you,
#monster,
p {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-top: 10px;
}

.btn {
    padding: 20px 40px;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.game-strat,
.game-actions {
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

.start-game-btn {
    background: #120542;
    color: #FFF;
}

.attack {
    background: #8c0606;
    color: #FFF;
}

.special-attack {
    background: #560707;
    color: #FFF;
}

.heal {
    background: #4fbdaa;
}

.give-up {
    background: #1a1b1a;
    color: #FFF;
}

#action-list {
    width: 100%;
}

#action-list ul {
    list-style: none;
}

#action-list ul li {
    border: #560707 solid 1px;
    padding: 10px 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
}

.you-list {
    background: #251ab5;
    color: #FFF;
}

.monster-list {
    color: #8aeccd;
    background: #6731bb;
}